---
import Icon from '~/components/base/Icon.astro'
---

<button
  id="toc-open-button"
  class="fixed right-5 bottom-[4.5rem] z-50
    h-10 w-10 rounded-full
    bg-[#8883] opacity-0 transition-opacity duration-300 ease-in-out pointer-events-none
    hover:opacity-100 max-lgp:opacity-50 max-lgp:pointer-events-auto
    dark:bg-[#8886] print:hidden"
  title="Open table of contents"
>
  <Icon name="contents" />
</button>

<nav
  id="toc-panel"
  class="fixed top-20 left-[5%] right-[5%] z-[200]
    !hidden flex w-[90%] max-h-[82vh] flex-col
    rounded-lg bg-[var(--c-bg)] px-8 py-6
    shadow-[0_0_20px_rgb(0_0_0/0.2)] dark:shadow-[0_0_30px_rgb(255_255_255/0.16)]"
>
  <div
    class="border-b border-[var(--c-scrollbar)] pb-1 text-[1.1rem] font-semibold opacity-80"
  >
    Table of Contents
  </div>
  <ul>
    <slot />
  </ul>
</nav>

<script>
  import { toggleFadeEffect } from '~/utils/animation'

  document.addEventListener('astro:page-load', () => {
    /* Open toc panel when user click on button */
    const handleBtnClickToOpen = () => {
      toggleFadeEffect('backdrop', true, 'hidden')
      toggleFadeEffect('toc-panel', true, '!hidden')
    }

    const tocOpenButton = document.getElementById('toc-open-button')
    tocOpenButton?.addEventListener('click', handleBtnClickToOpen)

    /* Close toc panel when user click on link */
    const handleClickToClose = (event: MouseEvent) => {
      const target = event.target
      const isClickedOnLink =
        target instanceof HTMLElement && target.closest('a')

      if (isClickedOnLink) {
        toggleFadeEffect('toc-panel', false, '!hidden')
        toggleFadeEffect('backdrop', false, 'hidden')
      }
    }

    const tocPanel = document.getElementById('toc-panel')
    tocPanel?.addEventListener('click', (event) => handleClickToClose(event))
  })
</script>
