/* /releases & /prs */
.github-item-content h1,
.github-item-content h2,
.github-item-content h3,
.github-item-content h4,
.github-item-content h5 {
  font-size: 1em;
}

.github-item-content > :first-child {
  margin-top: 1.6em;
}

.github-item-content > :last-child {
  margin-bottom: 1.25em;
}

.github-item-content h5 a {
  font-size: 0.875em;
}

@media (max-width: 39.999rem) {
  .github-item-content h1,
  .github-item-content h2,
  .github-item-content h3,
  .github-item-content h4,
  .github-item-content h5,
  .github-item-content li {
    font-size: 0.875rem;
  }
}
