---
import Link from '~/components/base/Link.astro'
import { ensureTrailingSlash } from '~/utils/common'

const pathSegments = ensureTrailingSlash(Astro.url.pathname)
  .split('/')
  .slice(0, -2)
const href = pathSegments.length > 1 ? pathSegments.join('/') + '/' : '/'
---

<span class="font-mono opacity-50">&gt; </span>
<Link class="font-mono !opacity-50 hover:!opacity-75" {href}>cd ..</Link>
