---
import Link from '~/components/base/Link.astro'
import { getUrl } from '~/utils/common'
import { SITE } from '~/config'

const title = `${SITE.author} @ ${new URL(SITE.website).hostname}`
---

<Link
  class="link op-transition"
  href={getUrl('/')}
  {title}
  aria-current={Astro.url.pathname === `${getUrl('/')}` ? 'page' : false}
>
  <div class="logo-container">
    <!-- ICON SVG -->
    <!-- <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 32 32"
      width="2em"
      height="2em"
      aria-hidden="true"
    >
      <path
        fill="url(#vscodeIconsFileTypeLightAstro0)"
        d="M11.025 20.499c-.532 1.75-.154 4.184 1.105 5.331v-.042l.042-.112c.154-.741.756-1.203 1.526-1.175c.713.014 1.12.392 1.217 1.217c.042.308.042.616.056.938v.098c0 .7.196 1.371.588 1.959c.35.56.84.993 1.497 1.287l-.028-.056l-.028-.112c-.49-1.469-.14-2.49 1.147-3.358l.392-.266l.868-.573a4.25 4.25 0 0 0 1.791-3.037c.07-.532 0-1.05-.154-1.553l-.21.14c-1.945 1.035-4.17 1.4-6.325.98c-1.301-.197-2.56-.56-3.498-1.652z"
      >
      </path>
      <path
        class="dark:fill-[#fdfdfd]"
        fill="#17191e"
        d="M4.925 20.191s3.736-1.82 7.486-1.82l2.84-8.759c.098-.42.406-.7.756-.7s.644.28.756.714l2.826 8.746c4.45 0 7.487 1.82 7.487 1.82L20.709 2.84c-.168-.518-.49-.84-.896-.84h-7.612c-.406 0-.7.322-.896.84z"
      >
      </path>
      <defs>
        <linearGradient
          id="vscodeIconsFileTypeLightAstro0"
          x1="8.19"
          x2="16.91"
          y1="23"
          y2="18.89"
          gradientTransform="translate(-.673 -2.198)scale(1.3993)"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0" stop-color="#d83333"></stop>
          <stop offset="1" stop-color="#f041ff"></stop>
        </linearGradient>
      </defs>
    </svg> -->
    <svg
      width="108"
      height="56.3"
      viewBox="-4.30000020151938 -9.90000001243676 114.00000020192364 62.3000002065594"
      xmlns="http://www.w3.org/2000/svg"
      ><g
        id="svgGroup"
        stroke-linecap="round"
        fill-rule="evenodd"
        font-size="9pt"
        stroke="#000"
        stroke-width="0.25mm"
        fill="#000"
        style="stroke:#000;stroke-width:0.25mm;fill:#000"
        ><path
          d="M 36.2 45.1 L 36.6 45.3 Q 39.4 41.3 42.3 37.5 Q 45.2 33.7 47.9 29.7 L 47.7 29.7 L 47.3 30.4 L 47.1 30.2 L 47.1 29.7 L 46.6 29.9 L 46.3 29.2 L 46.1 29.2 A 2.387 2.387 0 0 1 44.601 28.66 Q 44.258 28.392 43.944 27.992 A 5.272 5.272 0 0 1 43.8 27.8 Q 42.8 26.4 42.25 24.7 A 45.943 45.943 0 0 1 41.997 23.894 Q 41.731 23.018 41.581 22.373 A 12.199 12.199 0 0 1 41.5 22 Q 42.2 21.3 43.45 20.15 A 29.335 29.335 0 0 1 45.99 18.057 A 28.96 28.96 0 0 1 46 18.05 A 8.709 8.709 0 0 1 46.619 17.634 Q 47.247 17.253 47.732 17.144 A 1.676 1.676 0 0 1 48.1 17.1 A 1.369 1.369 0 0 1 48.526 17.175 Q 48.899 17.298 49.359 17.621 A 6.246 6.246 0 0 1 49.6 17.8 Q 50.5 18.5 51.4 19.35 Q 52.266 20.168 52.669 20.569 A 19.377 19.377 0 0 1 52.7 20.6 A 5.525 5.525 0 0 0 54.89 18.132 A 6.752 6.752 0 0 0 54.95 18 A 22.941 22.941 0 0 0 56.004 15.072 A 25.982 25.982 0 0 0 56.2 14.35 A 173.668 173.668 0 0 1 56.561 12.965 Q 56.85 11.875 57.1 11 L 56.7 10.3 L 55.2 11.8 L 54.7 11.6 Q 55.3 10.3 56.25 7.95 A 19.74 19.74 0 0 1 58.091 4.428 A 17.926 17.926 0 0 1 58.6 3.7 A 6.765 6.765 0 0 1 59.381 2.803 Q 60.438 1.8 61.6 1.8 Q 62.3 1.8 64.15 2.3 Q 66 2.8 67.7 3.45 A 7.872 7.872 0 0 1 68.278 3.696 Q 69.4 4.231 69.4 4.8 Q 68.7 6.7 67.55 8.4 Q 66.4 10.1 64.8 11.4 L 63.9 11.2 L 64.2 12.1 L 63.7 12.4 L 63.8 12.7 L 63.6 13.2 L 62.9 13 L 62.2 13.7 L 63 13.9 L 63 14.2 L 62.5 15.1 L 62 15 L 61.2 15.7 L 61.2 16.3 A 0.583 0.583 0 0 1 61.166 16.465 Q 61.041 16.858 60.447 17.884 A 34.541 34.541 0 0 1 60.35 18.05 Q 59.62 19.296 58.668 20.838 A 207.253 207.253 0 0 1 58.35 21.35 Q 57.2 23.2 56.2 24.8 A 88.248 88.248 0 0 0 55.77 25.495 Q 55.13 26.541 54.9 27 Q 55.4 27.7 55.9 28.35 Q 56.4 29 56.9 29.6 A 491.195 491.195 0 0 1 59.697 26.734 Q 61.129 25.279 62.721 23.681 A 821.546 821.546 0 0 1 63.8 22.6 Q 67.7 18.7 72.2 14.75 Q 76.7 10.8 81.5 7.45 A 55.599 55.599 0 0 1 88.105 3.468 A 47.575 47.575 0 0 1 91.15 2.05 A 27.097 27.097 0 0 1 96.059 0.481 A 21.316 21.316 0 0 1 100.5 0 A 11.613 11.613 0 0 1 102.013 0.107 Q 103.277 0.273 104.8 0.7 A 6.11 6.11 0 0 1 106.187 1.264 A 3.881 3.881 0 0 1 108 3.4 A 9.448 9.448 0 0 0 105.047 2.9 A 9.005 9.005 0 0 0 105 2.9 Q 103.98 2.9 103.238 3.085 A 3.875 3.875 0 0 0 102.6 3.3 L 101.9 2.9 Q 95.6 4.7 90.6 6.65 Q 85.6 8.6 81 11.4 Q 76.436 14.178 71.281 18.334 A 124.456 124.456 0 0 0 71.2 18.4 A 53.289 53.289 0 0 1 70.724 18.811 Q 69.89 19.523 68.35 20.8 Q 66.3 22.5 63.95 24.55 A 128.425 128.425 0 0 0 62.009 26.277 Q 61.128 27.077 60.354 27.815 A 75.514 75.514 0 0 0 59.85 28.3 A 21.459 21.459 0 0 0 59.159 29.001 Q 58.196 30.026 57.955 30.633 A 1.325 1.325 0 0 0 57.9 30.8 A 25.205 25.205 0 0 0 59.229 32.967 Q 59.962 34.044 60.873 35.183 A 44.893 44.893 0 0 0 61.5 35.95 A 68.205 68.205 0 0 0 65.568 40.386 A 77.163 77.163 0 0 0 66.6 41.4 A 76.066 76.066 0 0 0 70.8 45.169 A 66.644 66.644 0 0 0 72.2 46.3 A 57.01 57.01 0 0 0 74.573 48.072 Q 76.05 49.113 77.4 49.9 L 78.3 49.8 A 14.124 14.124 0 0 0 79.731 50.034 A 10.824 10.824 0 0 0 80.9 50.1 A 12.171 12.171 0 0 0 84.571 49.558 A 11.044 11.044 0 0 0 86.2 48.9 Q 88.6 47.7 91.3 46.9 Q 89.582 49.095 88.32 50.288 A 13.925 13.925 0 0 1 88.2 50.4 Q 86.9 51.6 85.2 51.95 A 13.717 13.717 0 0 1 84.02 52.135 Q 82.688 52.289 80.862 52.299 A 46.702 46.702 0 0 1 80.6 52.3 L 79.2 52.3 L 78.6 52 L 78.6 51.5 Q 78.2 50.7 77.1 50.7 Q 76.3 50.7 75.45 50.95 A 6.143 6.143 0 0 1 74.33 51.173 A 5.303 5.303 0 0 1 73.8 51.2 L 73.4 51.1 L 72.7 50.6 Q 72.232 50.756 71.946 50.79 A 1.235 1.235 0 0 1 71.8 50.8 A 2.306 2.306 0 0 1 70.544 50.423 A 2.982 2.982 0 0 1 70.3 50.25 Q 69.819 49.872 69.432 49.565 A 125.312 125.312 0 0 1 69.1 49.3 L 67.9 49.9 L 67.3 49 L 67.1 48.4 L 66.6 48 L 66.4 48.8 A 7.787 7.787 0 0 1 64.23 48.091 A 8.798 8.798 0 0 1 64.05 48 A 3.791 3.791 0 0 1 62.99 47.198 A 3.426 3.426 0 0 1 62.4 46.3 Q 59.9 43.7 57.5 41.1 Q 55.1 38.5 53.1 35.6 A 96.482 96.482 0 0 0 51.572 37.006 A 107.884 107.884 0 0 0 51.05 37.5 Q 50 38.5 49.1 39.6 L 48.5 39.4 Q 49.3 38.1 50.25 36.9 Q 51.2 35.7 52.2 34.5 L 50.9 33.2 Q 50.2 34.2 49.55 35.35 Q 48.9 36.5 48.2 37.6 A 3.768 3.768 0 0 0 47.719 37.932 Q 47.243 38.314 46.69 38.946 A 13.634 13.634 0 0 0 46.6 39.05 Q 45.7 40.1 44.8 41 A 7.377 7.377 0 0 1 44.31 41.451 Q 43.703 41.956 43.2 42.1 A 3.491 3.491 0 0 1 42.832 42.578 Q 42.25 43.223 41.1 44.05 A 16.881 16.881 0 0 0 40.549 44.462 Q 39.463 45.313 39.3 45.8 A 7.281 7.281 0 0 1 37.644 46.499 A 9.288 9.288 0 0 1 36.5 46.75 Q 35.01 46.983 34.301 48.299 A 3.894 3.894 0 0 0 34.2 48.5 L 34.3 49 A 73.666 73.666 0 0 0 30.319 51.051 A 80.254 80.254 0 0 0 30.05 51.2 Q 27.9 52.4 25.5 52.4 Q 24 52.4 22.75 51.5 Q 21.5 50.6 20.4 49.9 A 40.429 40.429 0 0 1 22.131 50.131 A 44.26 44.26 0 0 1 22.25 50.15 Q 23.2 50.3 24.2 50.3 A 15.973 15.973 0 0 0 28.774 49.608 A 19.729 19.729 0 0 0 30.75 48.9 A 16.106 16.106 0 0 0 33.957 47.13 A 13.226 13.226 0 0 0 36.2 45.1 Z M 19.5 46.1 L 19.5 45.4 L 19.6 45.4 L 20.2 44.6 A 7.847 7.847 0 0 0 20.946 44.177 Q 21.444 43.856 21.8 43.5 L 21.8 42.7 A 5.845 5.845 0 0 0 23.177 41.726 Q 23.793 41.149 24.35 40.35 Q 25.5 38.7 26.3 37.4 A 0.996 0.996 0 0 0 27.156 36.962 Q 27.276 36.794 27.362 36.561 A 2.43 2.43 0 0 0 27.4 36.45 A 19.2 19.2 0 0 0 27.568 35.89 Q 27.72 35.351 27.79 34.956 A 5.526 5.526 0 0 0 27.8 34.9 A 5.628 5.628 0 0 0 28.33 34.351 Q 28.871 33.718 29.502 32.708 A 26.473 26.473 0 0 0 29.9 32.05 Q 31.1 30 32.2 27.75 A 61.594 61.594 0 0 0 32.706 26.691 Q 33.4 25.2 33.7 24.3 L 34.4 23.7 Q 35.3 20.3 36.6 17.05 Q 37.9 13.8 39 10.5 L 35.5 10.5 Q 34.4 10.5 33.25 10.6 Q 32.1 10.7 31.1 11.2 L 29.9 11.1 A 5.622 5.622 0 0 0 29.104 11.043 A 5.587 5.587 0 0 0 27.15 11.4 A 25.89 25.89 0 0 0 24.94 12.333 A 23.326 23.326 0 0 0 24.6 12.5 L 24.2 12.4 L 23.9 12.7 A 25.886 25.886 0 0 0 14.97 16.036 A 30.293 30.293 0 0 0 13.75 16.8 A 35.459 35.459 0 0 0 7.579 21.917 A 31.617 31.617 0 0 0 5.6 24.2 L 6.6 24.8 L 8.4 24.6 L 8.7 24.9 Q 8.2 25.4 7.5 25.7 Q 6.8 26 6.1 26.2 L 5.3 25.5 L 4.5 25.8 A 3.34 3.34 0 0 1 4.317 25.364 Q 4.237 25.122 4.211 24.899 A 1.776 1.776 0 0 1 4.2 24.7 A 4.483 4.483 0 0 1 4.489 23.171 Q 4.911 22.006 5.95 20.7 Q 7.515 18.732 8.641 17.484 A 33.232 33.232 0 0 1 8.9 17.2 L 8.9 16.6 Q 10.61 15.215 13.084 13.798 A 50.238 50.238 0 0 1 14.25 13.15 Q 17.5 11.4 21.3 10 Q 25.1 8.6 28.9 7.75 Q 32.558 6.932 35.567 6.901 A 22.9 22.9 0 0 1 35.8 6.9 A 17.337 17.337 0 0 1 36.556 6.916 A 13.821 13.821 0 0 1 37.1 6.95 Q 37.7 7 38.3 7.1 Q 38.7 6.8 39.2 6.7 Q 39.7 6.6 40.1 6.5 L 39.6 6.4 Q 40.4 5.1 40.4 3.7 Q 40.6 3.6 40.85 3.5 Q 41.052 3.419 41.222 3.404 A 0.862 0.862 0 0 1 41.3 3.4 A 16.374 16.374 0 0 1 42.061 3.42 Q 42.849 3.456 43.899 3.563 A 55.124 55.124 0 0 1 44.25 3.6 A 10.182 10.182 0 0 1 46.205 3.999 A 8.373 8.373 0 0 1 47.55 4.55 Q 48.956 5.277 48.811 6.898 A 3.722 3.722 0 0 1 48.8 7 Q 50.5 6.8 52.2 6.75 Q 53.9 6.7 55.6 6.7 Q 58.6 6.7 61.65 7.1 Q 64.7 7.5 67.4 9.2 L 67.1 9.6 Q 67.4 10.6 68.3 10.9 L 68.6 11.7 L 67.9 12.2 L 68.3 13.3 Q 67.762 14.761 67.223 15.453 A 2.373 2.373 0 0 1 66.9 15.8 Q 66.365 16.258 65.013 16.483 A 13.236 13.236 0 0 1 64.1 16.6 L 63.3 16.1 L 59.9 17.6 L 59.8 17.5 L 60.2 16.6 L 60.2 16.5 Q 59.6 17 58.9 17.4 Q 58.2 17.8 57.4 17.9 L 57.1 17.7 L 57.4 17.4 A 8.092 8.092 0 0 0 59.634 16.312 A 7.304 7.304 0 0 0 60.6 15.5 Q 61.9 14.2 62.9 12.6 L 62.7 11 L 60 9.7 L 59.9 9.4 Q 58.6 9 57.2 8.95 Q 55.8 8.9 54.4 8.9 Q 53 8.9 51.65 9.2 Q 50.3 9.5 48.9 9.6 L 49.3 10.4 A 16.015 16.015 0 0 1 49.24 10.632 Q 49.154 10.955 49 11.498 A 146.259 146.259 0 0 1 48.9 11.85 A 3.782 3.782 0 0 1 48.773 12.227 Q 48.623 12.597 48.434 12.764 A 0.496 0.496 0 0 1 48.1 12.9 L 46.9 12.1 L 46.8 12.2 A 7.07 7.07 0 0 1 46.173 14.594 A 8.047 8.047 0 0 1 46.1 14.75 A 11.971 11.971 0 0 1 45.04 16.551 A 10.704 10.704 0 0 1 44.7 17 A 2.333 2.333 0 0 0 43.981 17.146 Q 43.253 17.433 43.065 18.26 A 2.896 2.896 0 0 0 43 18.9 L 43.6 19.3 L 44 18.7 L 44.4 18.6 L 44.6 18.9 A 6.89 6.89 0 0 1 44.067 19.634 Q 43.766 19.992 43.449 20.25 A 3.459 3.459 0 0 1 43.1 20.5 A 1.751 1.751 0 0 0 41.807 21.041 A 2.191 2.191 0 0 0 41.75 21.1 Q 41.2 21.7 40.4 21.8 A 2.52 2.52 0 0 0 39.877 22.142 A 1.782 1.782 0 0 0 39.35 22.9 Q 39.111 23.568 38.098 24.145 A 6.11 6.11 0 0 1 38 24.2 L 38.1 24.4 A 5.024 5.024 0 0 0 37.873 24.646 Q 37.488 25.086 36.85 25.95 A 31.104 31.104 0 0 0 35.388 28.106 A 28.443 28.443 0 0 0 35.3 28.25 Q 34.6 29.4 34.5 30 L 34.7 30 L 35 30.6 L 34.7 31 Q 34.4 31.8 33.95 32.5 Q 33.5 33.2 33 33.9 L 32.4 33.6 L 31.2 35.3 L 31.2 36.6 L 30.7 36.4 A 1.679 1.679 0 0 0 30.229 36.525 A 1.215 1.215 0 0 0 29.6 37.15 Q 29.3 37.8 29.2 38.6 Q 28.2 39.2 27.3 40.05 Q 26.4 40.9 25.4 41.7 L 25.5 42.8 L 25.1 42.8 Q 24.956 43.304 24.423 43.782 A 4.582 4.582 0 0 1 23.95 44.15 A 29.765 29.765 0 0 0 23.293 44.612 Q 22.777 44.986 22.4 45.3 L 21.9 46.2 L 22.4 46.6 L 21.7 47 A 14.949 14.949 0 0 1 21.035 47.881 Q 20.191 48.925 18.85 50.3 A 21.533 21.533 0 0 1 17.797 51.314 Q 16.746 52.255 15.883 52.715 A 4.981 4.981 0 0 1 15.5 52.9 Q 14.3 54.4 12.6 55.1 Q 10.9 55.8 9 56.3 A 36.182 36.182 0 0 1 6.673 55.345 A 45.158 45.158 0 0 1 5 54.55 Q 2.9 53.5 1.45 51.8 A 6.036 6.036 0 0 1 0.007 48.034 A 7.709 7.709 0 0 1 0 47.7 Q 0 46.6 0.3 45.45 Q 0.6 44.3 1.5 43.6 A 2.192 2.192 0 0 1 1.567 44.133 A 2.148 2.148 0 0 1 1.55 44.4 Q 1.5 44.797 1.5 45.292 A 10.873 10.873 0 0 0 1.5 45.3 A 7.004 7.004 0 0 0 1.736 47.176 A 4.796 4.796 0 0 0 3.8 50 Q 6.1 51.5 8.9 51.5 Q 12.1 51.5 14.85 49.9 A 18.907 18.907 0 0 0 18.229 47.416 A 16.678 16.678 0 0 0 19.5 46.1 Z M 39.4 18.3 L 40.5 18.3 L 40.6 17.8 L 40.5 17.4 Q 40.075 17.485 39.578 18.076 A 5.104 5.104 0 0 0 39.4 18.3 Z M 10.7 24.3 L 10.1 24.3 L 10.4 23.7 L 10.7 23.8 L 10.7 24.3 Z M 39.8 21.6 L 39.9 21.7 L 40.2 21.6 L 40.3 21.1 L 40 21 L 39.8 21.6 Z M 41.6 17.8 L 41.9 18.1 L 42.2 17.7 L 42 17.5 L 41.8 17.5 L 41.6 17.8 Z M 39.1 19.7 L 39.6 19.9 L 39.5 19.4 L 39.1 19.7 Z"
          vector-effect="non-scaling-stroke"></path></g
      ></svg
    >
  </div>
</Link>

<style>
  .link {
    /* opacity: 1; */
    -webkit-user-select: none;
    user-select: none;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    transform: scale(1.05);
  }

  @media (max-width: 767.9px) {
    .logo-container {
      transform-origin: 0%;
      transform: scale(0.95);
    }
  }

  .logo-container svg {
    height: 2rem;
  }

  @keyframes grow {
    0% {
      stroke-dashoffset: 1px;
      stroke-dasharray: 350px 0;
    }
    20% {
      stroke-dasharray: 0 350px;
    }
    80% {
      stroke-dasharray: 0 350px;
    }
    to {
      stroke-dasharray: 350px 0;
    }
  }

  .draw {
    stroke-dashoffset: 1px;
    stroke-dasharray: 350px 0;
    animation: grow 10s ease forwards infinite;
  }

  @media (prefers-reduced-motion), print {
    .draw {
      stroke-dasharray: unset !important;
      animation: none !important;
    }
  }
</style>
