---
import Icon from '~/components/base/Icon.astro'
---

<button
  id="nav-open-button"
  class="hidden opacity-60 transition-opacity duration-300 ease-in-out hover:opacity-100 max-md:block"
  title="Navigation"
  aria-label="Navigation"
  aria-expanded="false"
  aria-controls="nav-panel"
>
  <Icon name="menu" />
</button>

<div
  id="nav-panel"
  class="fixed top-20 left-[5%] right-[5%] z-[200]
    !hidden flex w-[90%] max-h-[82vh] flex-col gap-5
    rounded-lg bg-[var(--c-bg)] px-8 py-6
    shadow-[0_0_20px_rgb(0_0_0/0.2)] dark:shadow-[0_0_30px_rgb(255_255_255/0.16)]"
>
  <ul>
    <slot name="text" />
  </ul>
  <div class="flex justify-center items-center gap-4">
    <slot name="icon" />
  </div>
</div>

<script>
  import { toggleFadeEffect } from '~/utils/animation'

  document.addEventListener('astro:page-load', () => {
    /* Open nav panel when user click on button */
    const handleBtnClickToOpen = () => {
      toggleFadeEffect('backdrop', true, 'hidden')
      toggleFadeEffect('nav-panel', true, '!hidden')
    }

    const navOpenButton = document.getElementById('nav-open-button')
    navOpenButton?.addEventListener('click', handleBtnClickToOpen)
  })
</script>
