---
import { slug } from '~/utils/common'
import { UI } from '~/config'

interface Props {
  idx?: number
  text: string
  needId?: boolean
  wide?: boolean
}

const { idx, text, needId = false, wide = false } = Astro.props
const { maxGroupColumns } = UI.groupView
---

<div
  {...needId ? { id: slug(text) } : {}}
  class={`toc-heading relative h-20
    pointer-events-none select-none
    ${idx !== undefined ? 'slide-enter' : ''}`}
  style={idx !== undefined ? { '--enter-stage': idx - 2 } : undefined}
>
  {
    !wide ? (
      <span class="absolute -top-8 -left-12 text-[8em] font-bold text-transparent opacity-10 [-webkit-text-stroke:2px_#aaa]">
        {text}
      </span>
    ) : (
      <span
        class={`absolute top-0 text-[5em] leading-[1em] font-bold text-transparent opacity-35 [-webkit-text-stroke:1.5px_#aaa]
          max-lg:text-[4.5em] max-sm:top-2 max-sm:text-[3.6em] dark:opacity-20
          ${maxGroupColumns === 3 ? '-left-4' : 'left-[14%] max-lg:-left-4'}`}
      >
        {text}
      </span>
    )
  }
</div>
