---
import ThemeSwitch from '~/components/widgets/ThemeSwitch.astro'
const currentPath = Astro.url.pathname
const isHomePage = currentPath === '/'
---

<header
  class={`flex items-center ${isHomePage ? 'justify-end' : 'justify-between'} py-4 px-4`}
>
  {
    !isHomePage && (
      <a href="/" class="flex items-center h-8">
        <img
          src="/TKsm.png"
          alt="Home"
          class="w-8 h-8 rounded transition-transform hover:scale-110"
        />
      </a>
    )
  }
  <nav class="flex items-center gap-4 h-8" aria-label="Main menu">
    <div class="flex items-center gap-4 font-mono text-sm">
      <a
        href="/blog"
        class="text-gray-600 hover:text-[--theme-text-accent] dark:text-gray-400"
        >BLOG</a
      >
      <a
        href="/projects"
        class="text-gray-600 hover:text-[--theme-text-accent] dark:text-gray-400"
        >PROJECTS</a
      >
      <a
        href="/music"
        class="text-gray-600 hover:text-[--theme-text-accent] dark:text-gray-400"
        >MUSIC</a
      >
    </div>
    <div class="grid grid-flow-col print:op-0">
      <ThemeSwitch />
    </div>
  </nav>
</header>
